/* Variables
/* ---------------------------------------------------------- */

/* Seasons system */
.summer-orange:root{
    --color-primary-season: #ca1300;
    --color-secondary-season: #f05000;
    --color-primary-season-rgb: 202, 19, 0;
    --color-secondary-season-rgb: 240, 80, 0;
}
.summer-pink:root{
    --color-primary-season: #d75090;
    --color-secondary-season: #f9426f;
    --color-primary-season-rgb: 215, 80, 144;
    --color-secondary-season-rgb: 249, 66, 111;
}
.autumn:root{
    --color-primary-season: #731c12;
    --color-secondary-season: #b34410;
    --color-primary-season-rgb: 115, 28, 18;
    --color-secondary-season-rgb: 179, 68, 16;
}
.halloween:root {
    --color-primary-season: #8410cc;
    --color-secondary-season: #cc10b6;
    --color-primary-season-rgb: 132, 16, 204;
    --color-secondary-season-rgb: 204, 16, 182;
}
.winter:root {
    --color-primary-season: #008dc9;
    --color-secondary-season: #00b8c9;
    --color-primary-season-rgb: 0, 141, 201;
    --color-secondary-season-rgb: 0, 184, 201;
}

:root {

    @font-face {
        font-family: Shantell Sans;
        src: url('../fonts/ShantellSans.woff2') format('woff2');
        font-weight: 300 400 500 600 700 800;
        font-style: normal oblique;
        font-display: swap;
    }
    
    /* Colours */
    --color-primary: var(--ghost-accent-color, #3eb0ef);
    --color-base: #131313;
    --color-border: #ddd;
    --color-bg: #f5f5f5;
    --color-success: #80b912;
    --color-error: #f05230;
    --orange-color: #ffc107;
    --light-gray-color: #e6e6e6;

    /* Fonts */
    --font-sans-serif: "Shantell Sans", sans-serif;
    --font-serif: "Shantell Sans", serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-base: #f5f5f5;
        --color-bg: #131313;
        --light-gray-color: #373737;
    }
  }