.tag-about > .gh-content > .kg-card:first-of-type {
    background-image: radial-gradient(70% 53% at 36% 76%, rgba(var(--color-primary-season-rgb), 1) 0%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                      radial-gradient(21% 37% at 72% 23%, rgba(var(--color-secondary-season-rgb), 0.61) 24%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                      radial-gradient(35% 56% at 91% 74%, rgba(var(--color-primary-season-rgb), 0.96) 9%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                      radial-gradient(74% 86% at 67% 38%, rgba(var(--color-secondary-season-rgb), 0.37) 24%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                      linear-gradient(125deg, rgba(var(--color-primary-season-rgb), 1) 1%, rgba(var(--color-secondary-season-rgb), 1) 100%);
    border-radius: 20px;
}

#my-pronouns-are-hehim-nice-to-meet-you, #hi-im-lionir-but-just-can-just-call-me-lio {
    color: #f5f5f5 !important;
}

@media (max-width: 640px) {
    .tag-about > .gh-content > .kg-card > .kg-header-card-content > picture > img {
        height: 75vh !important;
        margin-top: -10vh;
    }
}