.author-container {
    display: grid;
}
.author-cover {
	border-radius: 20px;
	width: 100%;
    max-width: var(--small);
	max-height: 20vh;
	justify-self: center;
	margin-bottom: -110px !important;
	position: relative;
}
.author-image {
    height: 125px !important;
    width: 125px !important;
}
.author-container.gh-page-head > p {
    color: var(--color-base) !important;
    opacity: 0.8 !important;
}
.season-symbol {
	--stop-fade-3: var(--code-bg);
	--stop-fade-4: var(--code-bg);
    position: absolute;
    width: 330px;
    right: -40px;
	top: -15px;
}