.cover-parent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    outline: none;
}

.horizontal-flip {
    transform: rotate(180deg);
    display: inline-block;
}

.fancy-radiant-background {
    background-image: radial-gradient(70% 53% at 36% 76%, rgba(var(--color-primary-season-rgb), 1) 0%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                        radial-gradient(21% 37% at 72% 23%, rgba(var(--color-secondary-season-rgb), 0.61) 24%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                        radial-gradient(35% 56% at 91% 74%, rgba(var(--color-primary-season-rgb), 0.96) 9%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                        radial-gradient(74% 86% at 67% 38%, rgba(var(--color-secondary-season-rgb), 0.37) 24%, rgba(var(--color-secondary-season-rgb), 0) 100%),
                        linear-gradient(125deg, rgba(var(--color-primary-season-rgb), 1) 1%, rgba(var(--color-secondary-season-rgb), 1) 100%);
    border-radius: 20px;
    min-height: 200px;
}

.bold {
    font-weight: 700;
}

.underlined {
    text-decoration-line: underline !important;
}